{% extends 'authentication/authentication_template.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="justify-content-center">
    <form method="POST" class="container text-center form-signin col-6">
        {% csrf_token %}
        <h2>Log in</h2>
        <div>
            {% render_field form.username class="form-control" placeholder="Username" %}
        </div>
        <div>
            {% render_field form.password class="form-control" placeholder="Password" %}
        </div>
        <input type="submit" value="Login" class="btn btn-light mt-2">
    </form>
</div>
{% if form.errors %}
<div class="errors">
    {% form.errors %}
</div>
{% endif %}
{% endblock %}