<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    {% block extrastyles %}
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg justify-content-between">
        <a href="" class="navbar-brand nav-link">Dashboard</a>
        <div class="dropdown">
            {% block nav %}
            {% endblock %}
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    {% block extrajs %}
    {% endblock %}
</body>

</html>